@model TechJobsPersistent.ViewModels.AddEmployerViewModel

<h1>Employer: @Model.Name</h1>

<div>
    <p>@Model.Name</p> @* //do i really need the name here again? for looks?//*@
    <p>@Model.Location</p>
</div>


